* {
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;
}
body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
.input-group input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 500;
    width: 300px;
    outline: none;
}
.input-group {
    position: relative;
    margin-bottom: 25px;
}
.input-group:last-child {
    margin-bottom: 0;
}
.input-group label {
    display: block;
    font-size: 15px;
    color: #999999;
    padding-left: 5px;
    font-weight: 500;
}
.input-focus {
    position: relative;
    display: block;
    width: 100%;
}
.input-focus:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f7931e;
    transition: 0.35s ease all;
    -moz-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
}
.input-group input:focus ~ .input-focus::before {
    width: 100%;
}
.inputSubmit {
    padding: 0 20px;
    width: 100%;
    height: 40px;
    background-color: #f7931e;
    border: 1px solid #f7931e;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 3px 12px 1px #ccc;
    -moz-box-shadow: 0 3px 12px 1px #ccc;
    -webkit-box-shadow: 0 3px 12px 1px #ccc;
    -o-box-shadow: 0 3px 12px 1px #ccc;
    -ms-box-shadow: 0 3px 12px 1px #ccc;
    transition: all .2s;
    font-family: montserrat;
    font-weight: 500;
}
#wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
}
#header {
    padding: 15px;
    background: #f7931e;
    color: #fff;
    box-shadow: 0 1px 5px 1px #ccc;
    font-size: 14px;
}
#header li:hover {
    cursor: pointer;
}
#header li:not(:first-child) {
    margin-left: 15px;
}
#content {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    height: 100%;
}

#content > * {
    height: 100%;
}
#numberOfQuestionsForm {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
#allQuestionsForm {
    width: max-content;
    margin: 0 auto;
}
#questionsListSections {
    display: none;
    height: 100%;
    flex-flow: column;
}
#submitTest {
    margin-top: auto;
}
#percentageCalculator {
    display: flex;
    flex-flow: column; 
    align-items: center;
    justify-content: center;
    height: 100%;
}
#questionsList {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    max-height: calc(100vh - 134px);
    overflow-x: auto;
}
#questionsList li {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100px;
    justify-content: space-between;
}
#questionsList li:last-child {
    margin-bottom: 0;
}
#questionsList li form {
    display: flex;
}
#closeQuestionsList {
    align-self: flex-end;
    max-width: 15px;
    cursor: pointer;
    margin-top: 7px;
}
.message {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
}
.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}



.radioButton {
    display: block;
    position: relative;
    height: 21px;
    width: 21px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radioButton:last-child .checkmark {
    margin-left: 3px;
}
/* Hide the browser's default radio button */
.radioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #888;
    justify-content: center;
    align-items: center;
}

/* When the radio button is checked, add a blue background */
.radioButton input[value="correct"]:checked ~ .checkmark {
    border: 2px solid #3c763d;
}

.radioButton input[value="wrong"]:checked ~ .checkmark {
    border: 2px solid #a94442;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* Show the indicator (dot/circle) when checked */
.radioButton input:checked ~ .checkmark:after {
    display: block;
}
.radioButton input[value="correct"]:checked ~ .checkmark::after {
    background: #3c763d;
}
.radioButton input[value="wrong"]:checked ~ .checkmark::after {
    background: #a94442;
}


.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.justifiy-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 10px;
}
#links a img {
    max-width: 24px;
    margin-left: 10px;
}

.tabs-content-list > * {
    display: none;
}

.tabs-content-list > *.active {
    display: block;
}

#resultsContainer {
    height: 100%;
    overflow-y: auto;
}
#results {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 0;
    -webkit-column-gap: 15px;
    -moz-column-gap: 0;
    padding: 1px;
    padding: 15px 1px 1px 1px;
}
#results > li {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    margin-bottom: 15px;
}

.card {
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    color: #525252;
    word-break: break-word;
    background: #ffffff;
    border-radius: 8px;
}
.cardHeader {
    color: #2f2f2f;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    font-weight: 500;
    background-color: #f5f5f5;
    box-shadow: 0 -1px 0 rgba(0,0,0,.12) inset;
    border-radius: 8px 8px 0 0;
}
.cardHeader h3 {
    font-size: 14px;
}
.cardDate {
    font-size: 12px;
    font-weight: 600;
}
.cardContent {
    padding: 10px;
}
.cardList {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: 600;
}
.cardList .cardListItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -1px 1px 0 rgba(0,0,0,.12) inset;
    position: relative;
}
.cardListItem p {
    width: 100%;
    text-align: center;
    padding: 7px 10px;
}
.cardList .cardListItem > div {
    display: none;
    position: absolute;
    /* padding: 10px; */
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 8px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    max-height: 130px;
    overflow-y: auto;
}
.cardList .cardListItem > div.active {
    display: block;
}
/* .cardListItem:hover > div {
    display: block;
} */
.cardListHeader {
    font-weight: 600;
    font-size: 12px;
}
.cardListHeader img {
    max-width: 13px;
}
.cardPercentage {
    padding: 7px 10px;
    border-radius: 0 0 8px 8px;
    font-weight: 600;
}
.card .success {
    box-shadow: 0 1px 0 rgba(60, 118, 61, .12) inset;
}
.card .error {
    box-shadow: 0 1px 0 rgba(169, 68, 66,.12) inset;
}

/* #authentication {
    margin-left: auto !important;
} */
#authentication {
    display: none;
}
#examDetails {
    display: none;
}
#modalExamResults {
    display: none;
}
.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
}
.modalForm {
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: #ffffff;
    margin: 35px auto;
    width: 100%;
    position: relative;
}
.modalPadding {
    padding: 35px 0;
}
.signToggle {
    display: flex;
    width: 100%;
    font-size: 15px;
    margin-bottom: 15px;
    color: #999999;
}
.signToggle li {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.signToggle li:hover {
    cursor: pointer;
}
.signToggle li.active {
    border-bottom: 2px solid #f7931e;
}
.authenticationsFormContainer li {
    display: none;
}
.authenticationsFormContainer li.active {
    display: block;
}
#googleAuth {
    direction: ltr;
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 220px;
    min-height: 40px;
    padding: 8px 16px;
    text-align: left;
    display: flex;
    width: 100%;
    margin: 25px 0;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}
#googleAuth span {
    color: #757575;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    margin-top: auto;
}

/* page content animation */
.animated {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .3s;
    animation-name: animatebottom;
    animation-duration: .3s
}
 
#modal {
    top: -100px;
    position: absolute;
    right: 15px;
    transition: all .5s;
    opacity: 0;
    z-index: 10;
}
#closeModal {
    max-width: 12px;
    margin-left: 10px;
    cursor: pointer;
}
#loginButton:hover {
    cursor: pointer;
}
.closeModalContainer {
    position: absolute;
    right: 15px;
    top: 5px;
    max-width: 35px;
    border: 2px solid #f7931e;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}


@-webkit-keyframes animatebottom {
    from { bottom:-70px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-70px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
/* page content animation end */





.customCheckbox {
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkboxMark {
    display: flex;
    height: 21px;
    width: 21px;
    background-color: #ddd;
    color: #ffffff;
    font-size: 16px;
    justify-content: center;
    margin-left: 3px;
}

/* On mouse-over, add a grey background color */
.customCheckbox:hover input ~ .checkboxMark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customCheckbox input:checked ~ .checkboxMark {
    background-color: #f7931e;
}

/* Create the checkboxMark/indicator (hidden when not checked) */
.checkboxMark:after {
    content: "!";
    position: absolute;
    display: none;
}

/* Show the checkboxMark when checked */
.customCheckbox input:checked ~ .checkboxMark:after {
    display: block;
}

/* grid */
.content-full {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.content-full > * {
    width: 100%;
}

.row {
    margin: 15px 0;
}

.col-2 > * {
    width: calc(100% / 2 - 7.5px);
    margin-right: 15px;
    margin-bottom: 15px;
}

.col-2 > *:nth-child(2n) {
    margin-right: 0;
}

.col-3 > * {
    width: calc(100% / 3 - 10px);
    margin-right: 15px;
}

.col-3 > *:nth-child(3n) {
    margin-right: 0;
}

.col-4 > * {
    width: calc(100% / 4 - 10.5px);
    margin-right: 14px;
}

.col-4 > *:nth-child(4n) {
    margin-right: 0;
}
/*grid end*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.examResultCard {
    width: 100%;
    padding: 0 15px;
}


@media (max-width: 768px) {
    /* grid */
    .content-full > * {
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .content-full > *:last-child {
        margin-bottom: 0;
    }
    /* grid end */
    #results {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

@media (max-width: 480px) {
    .input-group input {
        width: 100%;
    }
}